In [4]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [7]:
data=pd.read_csv(r"C:\Users\User\Downloads\Sales_add.csv")

In [8]:
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

# Q.The company wishes to clarify whether there is any increase in sales after stepping into digital marketing

In [9]:
#Null hypothesis,Ho=There is no sales after stepping into digital marketing
#Alternative hypothesis,H1=There is increase in sales after stepping into digital marketing
#alpha value=0.05

In [10]:
sales_bef=data["Sales_before_digital_add(in $)"]
sales_af=data["Sales_After_digital_add(in $)"]

In [11]:
stats.shapiro(sales_bef)

ShapiroResult(statistic=0.9306764006614685, pvalue=0.12674309313297272)

In [12]:
stats.shapiro(sales_af)

ShapiroResult(statistic=0.9702128767967224, pvalue=0.7159645557403564)

In [13]:
#In both cases,p value is greater than alpha vallue .So,the distribution is normal.

In [14]:
stats.levene(sales_bef,sales_af,center="mean")

LeveneResult(statistic=5.171664124853503, pvalue=0.028130575490495715)

In [25]:
#Here the p value is less than alpha value of 0.05, hence the variance is not equal 
#So we need to use welch t test for unequal variance

In [26]:
stats.ttest_ind(sales_bef,sales_af,equal_var=False)

Ttest_indResult(statistic=-12.995084451110877, pvalue=1.1019671619608604e-14)

In [15]:
#Here the p value is less than aplha value 0.05,hence we reject the null hypothesis
#That is,there is improvement in sales after stepping into digital marketing

# # Q.The company needs to check whether there is any dependency between the features "Region" and "Manager"

In [16]:
#Null hypothesis,H0=Variables are independent
#Alternative hypothesis,H1=Variables are dependent

In [17]:
from scipy.stats import chi2_contingency

In [18]:
data_cross=pd.crosstab(data["Region"],data["Manager"])
data_cross

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [19]:
chi2=stats.chi2_contingency(data_cross)
chi2

(3.050566893424036,
 0.5493991051158094,
 4,
 array([[4.09090909, 3.18181818, 2.72727273],
        [2.86363636, 2.22727273, 1.90909091],
        [2.04545455, 1.59090909, 1.36363636]]))

In [22]:
chi_value=chi2[0]
p=chi2[1]
dof=chi2[2]
alpha=0.05

In [23]:
chi_critic=stats.chi2.ppf(q=1-alpha,df=dof)
print("Critical value is",chi_critic)

Critical value is 9.487729036781154

In [27]:
if (chi_value>chi_critic)& (p<=alpha):
    print("Reject null hypothesis \n That is, there is dependency between variables")
else:
    print("Accept null hypothesis \n That is, there is no dependency between 2 variables")

Accept null hypothesis
 That is, there is no dependency between 2 variables